VITE_SUPABASE_URL=https://hmqdjilbqogreobogcoj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhtcWRqaWxicW9ncmVvYm9nY29qIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUxOTkxODYsImV4cCI6MjA5MDc3NTE4Nn0.muKfoqk3wLwsW2o05t0-k919CosFZeN7oaJ4CX7X-kQ
